Creational/.DS_Store
Creational/AbstractFactory/.DS_Store
Creational/FactoryMethode/.DS_Store
Creational/FactoryMethode/factory_methode_lib/.DS_Store
Creational/Prototype/.DS_Store
Creational/Prototype/app/.DS_Store
Creational/Singleton_by_mutex/.DS_Store
Creational/Singleton_by_once/.DS_Store
.DS_Store
Structural/.DS_Store
Structural/Adapter/.DS_Store
